In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [14]:

pd.set_option("display.max_columns", 999)

In [15]:
!! pwd

['/Users/tiko/Documents/Iowa_Liquor_Sales_Analysis/Tigran_V']

In [16]:
!! ls

['Exploratory_Analysis.ipynb', 'bigQuery.py', 'requirements.txt']

In [17]:
!! cd /..

[]

In [18]:
!! ls

['Exploratory_Analysis.ipynb', 'bigQuery.py', 'requirements.txt']

## Exploring Smaller Dataset For Products (More Than 10,000 observations)

In [30]:
vendors_DF = pd.read_csv("../Iowa_Liquor_Products.csv")

In [31]:
vendors_DF.head()

,Item Number,Category Name,Item Description,Vendor,Vendor Name,Bottle Volume (ml),Pack,Inner Pack,Age,Proof,List Date,UPC,SCC,State Bottle Cost,State Case Cost,State Bottle Retail,Report Date
0,901141,Special Order Items,Libertine Absinthe(French Absinthe) Mini,885,YAHARA BAY DISTILLERS INC,50,6,1,0,114,04/20/2012,NaN,10892060104050,4.82,28.90,7.23,03/01/2022
1,65017,Imported Cordials & Liqueurs,Galliano Liqueur,305,Mhw LTD,375,12,1,0,84,10/01/2012,8.091511e+10,10892060104050,10.75,129.00,16.13,03/01/2022
2,88152,100% Agave Tequila,Sauza 901 Silver,65,Jim Beam Brands,750,6,1,0,80,06/01/2014,8.068684e+10,10892060104050,13.12,78.72,19.68,03/01/2022
3,903796,Special Order Items,Bacardi Anejo DISCO,35,BACARDI USA INC,750,12,1,0,80,09/01/1990,8.068684e+10,80480004347,7.75,93.00,11.63,03/01/2022
4,905846,Scotch Whiskies,Ron Burgundy,305,Mhw LTD,750,12,1,0,80,10/01/2014,8.068684e+10,10626990143885,14.61,175.25,21.92,03/01/2022

In [21]:
vendors_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10443 entries, 0 to 10442
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Item Number          10443 non-null  object
 1   Category Name        10443 non-null  object
 2   Item Description     10443 non-null  object
 3   Vendor               10443 non-null  int64
 4   Vendor Name          10443 non-null  object
 5   Bottle Volume (ml)   10443 non-null  int64
 6   Pack                 10443 non-null  int64
 7   Inner Pack           10443 non-null  int64
 8   Age                  10443 non-null  int64
 9   Proof                10443 non-null  int64
 10  List Date            10443 non-null  object
 11  UPC                  10442 non-null  float64
 12  SCC                  10443 non-null  int64
 13  State Bottle Cost    10443 non-null  float64
 14  State Case Cost      10443 non-null  float64
 15  State Bottle Retail  10443 non-null  float64
 16  Report Date          10443 non-null  object
dtypes: float64(4), int64(7), object(6)
memory usage: 1.4+ MB

In [22]:
vendors_DF.describe()

,Vendor,Bottle Volume (ml),Pack,Inner Pack,Age,Proof,UPC,SCC,State Bottle Cost,State Case Cost,State Bottle Retail
count,10443.000000,10443.000000,10443.000000,10443.000000,10443.000000,10443.000000,1.044200e+04,1.044300e+04,10443.000000,10443.000000,10443.000000
mean,351.518721,759.155319,9.127741,2.645121,1.091928,74.703342,2.940125e+11,1.442474e+13,31.318133,160.423437,46.992494
std,204.096717,401.309784,6.097352,11.090281,20.036626,21.466024,3.404588e+11,1.199934e+13,201.091529,376.650150,301.637260
min,10.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.330000,1.980000,0.500000
25%,255.000000,750.000000,6.000000,1.000000,0.000000,70.000000,8.175383e+10,1.008309e+13,7.950000,72.000000,11.930000
50%,363.000000,750.000000,6.000000,1.000000,0.000000,80.000000,8.764711e+10,1.089206e+13,13.500000,108.000000,20.250000
75%,421.000000,750.000000,12.000000,1.000000,0.000000,86.000000,7.210590e+11,1.750301e+13,24.000000,164.940000,36.000000
max,978.000000,5250.000000,120.000000,240.000000,2002.000000,190.000000,8.328890e+12,9.320255e+13,7680.000000,19057.680000,11520.000000

In [25]:
vendors_DF.columns = vendors_DF.columns.str.replace(" ","") #Making column names more readable for pandas

In [27]:
vendors_DF.head()

,ItemNumber,CategoryName,ItemDescription,Vendor,VendorName,BottleVolume(ml),Pack,InnerPack,Age,Proof,ListDate,UPC,SCC,StateBottleCost,StateCaseCost,StateBottleRetail,ReportDate
0,901141,Special Order Items,Libertine Absinthe(French Absinthe) Mini,885,YAHARA BAY DISTILLERS INC,50,6,1,0,114,04/20/2012,NaN,10892060104050,4.82,28.90,7.23,03/01/2022
1,65017,Imported Cordials & Liqueurs,Galliano Liqueur,305,Mhw LTD,375,12,1,0,84,10/01/2012,8.091511e+10,10892060104050,10.75,129.00,16.13,03/01/2022
2,88152,100% Agave Tequila,Sauza 901 Silver,65,Jim Beam Brands,750,6,1,0,80,06/01/2014,8.068684e+10,10892060104050,13.12,78.72,19.68,03/01/2022
3,903796,Special Order Items,Bacardi Anejo DISCO,35,BACARDI USA INC,750,12,1,0,80,09/01/1990,8.068684e+10,80480004347,7.75,93.00,11.63,03/01/2022
4,905846,Scotch Whiskies,Ron Burgundy,305,Mhw LTD,750,12,1,0,80,10/01/2014,8.068684e+10,10626990143885,14.61,175.25,21.92,03/01/2022

### Variable Data Types and Data Description:

<p> This dataset provides a list of liquor products maintained by the Iowa Alcoholic Beverages Division. 
Data is updated monthly. Updates are typically <a href = "https://data.iowa.gov/Sales-Distribution/Iowa-Liquor-Products/gckp-fe7r"> available </a> first of the month.</p>



 
 
 <b>- Numeric:</b>
 
   - <i> Vendor </i>
   - <i> BottleVolume(ml) </i>
   - <i> Pack </i>
   - <i> InnerPack </i>
   - <i> Age </i>
   - <i> Proof </i>
   - <i> UPC </i>
   - <i> SCC </i>
   - <i> InnerPack </i>
   - <i> StateBottleCost </i>
   - <i> StateBottleRetail </i>
   - <i> ReportDate </i>
   
 <b>- Object:</b> 
 
   - <i> ItemNumber </i>
   - <i> CategoryName </i>
   - <i> ItemDescription </i>
   - <i> VendorName </i>

 <b>- DateTime Object:</b>
   - <i> ListDate </i>
   - <i> ReportDate </i>

## Exploring Main Dataset (More than 23MM Observations)

#### Using BigQuery Dataset

In [1]:
import pyarrow #to convert sql query to pandas DF without the need of iterative functions
from dataclasses import dataclass
from google.cloud import bigquery
import os
import pandas as pd
pd.set_option("display.max_columns",999)

In [37]:

path = '/Users/tiko/Downloads/BQ_cred.json'


os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = path

project = 'liquor-store-analysis'
dataset = 'liquor-store-analysis'

client = bigquery.Client(project=project)
df_sql = client.dataset(dataset)

qr = client.query("""

SELECT * FROM 
`liquor-store-analysis.Liquor_Dataset.TABLE1`
LIMIT 1000
""")

results = qr.result()


# name_group_query = """
# SELECT * FROM `bigquery-public-data.iowa_liquor_sales.sales` 
# LIMIT 20 OFFSET 2;
# """

# client.query(name_group_query)

In [38]:
stores_DF = results.to_dataframe()

In [39]:
stores_DF

,invoice_and_item_number,date,store_number,store_name,address,city,zip_code,store_location,county_number,county,category,category_name,vendor_number,vendor_name,item_number,item_description,pack,bottle_volume_ml,state_bottle_cost,state_bottle_retail,bottles_sold,sale_dollars,volume_sold_liters,volume_sold_gallons
0,INV-12883100135,2018-06-26,4167,"Iowa Street Market, Inc.",1256 Iowa St,Dubuque,52001,POINT (-90.668138 42.504959),31,DUBUQUE,1062500.0,Flavored Rum,260,DIAGEO AMERICAS,72903,Captain Morgan Apple Smash Mini,12,50,4.96,7.44,1,7.44,0.05,0.01
1,INV-27168700030,2020-05-11,4962,Hilltop Grocery,1312 Harrison St,Davenport,52803.0,None,82,SCOTT,1062500.0,Flavored Rum,35,BACARDI USA INC,43745,Bacardi Lime Mini,12,50,5.54,8.31,1,8.31,0.05,0.01
2,INV-13825500022,2018-08-14,5359,Fareway Stores #168/ Peosta,8400 NICC Drive,Peosta,52068,None,31,DUBUQUE,1062500.0,Flavored Rum,260.0,DIAGEO AMERICAS,72903,Captain Morgan Apple Smash Mini,12,50,4.96,7.44,1,7.44,0.05,0.01
3,INV-39989400101,2021-09-11,4291,Fareway Stores #597 / Creston,105 E Adams St,Creston,50801.0,POINT (-94.237509 40.715722),88,UNION,1062500,Flavored Rum,370,PERNOD RICARD USA,42712,Malibu Coconut Mini,12,50,4.95,7.43,1,7.43,0.05,0.01
4,INV-39655000047,2021-08-30,4638,GD Xpress / Davenport,4607 N Pine St,Davenport,52804.0,None,82,SCOTT,1062500,Flavored Rum,370,PERNOD RICARD USA,42712,Malibu Coconut Mini,12,50,4.95,7.43,1,7.43,0.05,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,S27671100016,2015-09-02,4232,"Elliott's General Store,",23828 HWY J18,MORAVIA,52571,POINT (-92.834054 40.892417),4,Appanoose,1062300.0,FLAVORED RUM,370,Pernod Ricard USA/Austin Nichols,42717,Malibu Coconut Rum,12,1000,10.49,15.74,12,188.88,12.00,3.17
996,S21408900024,2014-09-24,3857,Quillins Food Ranch / Waukon,9TH ST SW B,WAUKON,52172,None,3,Allamakee,1062300.0,FLAVORED RUM,370,Pernod Ricard USA/Austin Nichols,42717,Malibu Coconut Rum,12,1000,10.49,15.74,12,188.88,12.00,3.17
997,S29408700032,2015-12-02,3986,Siouxland Beverage,1203 5 ST,SIOUX CITY,51101,POINT (-96.394671 42.495324),97,Woodbury,1062300.0,FLAVORED RUM,370,Pernod Ricard USA/Austin Nichols,42717,Malibu Coconut Rum,12,1000,10.49,15.74,12,188.88,12.00,3.17
998,S33737100096,2016-08-03,2621,Hy-Vee Food Store #3 / Sioux City,3301 Gordon Dr,Sioux City,51105,POINT (-96.364108 42.487752),97,Woodbury,1062300.0,FLAVORED RUM,259,Heaven Hill Brands,43077,Admiral Nelson Coconut Rum,12,1000,7.28,10.92,12,131.04,12.00,3.17
999,S10235400057,2013-01-24,3926,Liquor Downtown / Iowa City,315 S GILBERT ST,IOWA CITY,52240,POINT (-91.530181 41.657654),52,Johnson,1062300.0,FLAVORED RUM,259,Heaven Hill Brands,43077,Admiral Nelson Coconut Rum,12,1000,7.27,10.91,12,130.92,12.00,3.17

In [36]:
stores_DF.store_number.value_counts().sum()

20

In [35]:
stores_DF.store_name.value_counts().sum()

20