In [5]:
#Set environment variables for your notebook
import os 
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'bigqueryliquor.json'
#Imports google cloud client library and initiates BQ service
from google.cloud import bigquery
bigquery_client = bigquery.Client()
#Write Query on BQ
QUERY = """
SELECT * FROM `bigquery-public-data.iowa_liquor_sales.sales`

  """
#Run the query and write result to a pandas data frame
Query_Results = bigquery_client.query(QUERY)
df = Query_Results.to_dataframe()

KeyboardInterrupt:

In [4]:
df

,invoice_and_item_number,date,store_number,store_name,address,city,zip_code,store_location,county_number,county,...,item_number,item_description,pack,bottle_volume_ml,state_bottle_cost,state_bottle_retail,bottles_sold,sale_dollars,volume_sold_liters,volume_sold_gallons
0,S15379100019,2013-10-28,3814,Costco Wholesale #788,7205 MILLS CIVIC PKWY,WEST DES MOINES,50266,POINT (-93.806489 41.561342),25,Dallas,...,28867,Tanqueray Gin,12,1000,14.99,22.48,72,1618.56,72.00,19.02
1,INV-23222900059,2019-11-13,2653,Hy-Vee Wine and Spirits / Washington,1004 W Madison St,Washington,52353.0,POINT (-91.704567 41.296576),92,WASHINGTON,...,86251,Juarez Triple Sec,12,1000,2.42,3.63,2,7.26,2.00,0.52
2,INV-03558800062,2017-03-02,2106,Hillstreet News and Tobacco,2217 College,Cedar Falls,50613,POINT (-92.455796 42.517182),7,BLACK HAWK,...,86251,Juarez Triple Sec,12,1000,2.42,3.63,72,261.36,72.00,19.02
3,INV-13729100008,2018-08-08,4557,Hometown Foods / Traer,420 Second St,Traer,50675,POINT (-92.468086 42.193386),86,TAMA,...,67527,Kahlua Coffee Liqueur,12,1000,14.99,22.49,4,89.96,4.00,1.05
4,INV-06531900053,2017-08-08,3385,Sam's Club 8162 / Cedar Rapids,2605 Blairs Ferry Rd NE,Cedar Rapids,52402.0,POINT (-91.67969 42.031819),57,LINN,...,86390,Montezuma Triple Sec,12,1000,2.13,3.20,132,422.40,132.00,34.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,S21359000020,2014-09-23,4820,Lil' Chubs Corner Stop,712 S OAK ST,INWOOD,51240,POINT (-96.430827 43.30226),60,Lyon,...,82600,Dekuyper Sour Apple Pucker Pet,6,1750,11.54,17.31,3,51.93,5.25,1.39
96,S31728300086,2016-04-11,4829,Central City 2,1501 MICHIGAN AVE,DES MOINES,50314,POINT (-93.613739 41.60572),77,Polk,...,86251,Juarez Triple Sec,12,1000,2.42,3.63,180,653.40,180.00,47.55
97,INV-28420500013,2020-07-01,5911,Old Fire Liquor / Buffalo Center,113 1st St NW,Buffalo Center,50424.0,POINT (-93.947595 43.386755),95,WINNEBAGO,...,77055,Sir Winston Peach,6,750,13.01,19.52,18,351.36,13.50,3.56
98,INV-23657400002,2019-12-04,2663,Hy-Vee Food Store / Urbandale,8701 Douglas,Urbandale,50322.0,POINT (-93.739105 41.629364),77,POLK,...,44266,British Navy Pussers Rum,6,750,12.02,18.03,30,540.90,22.50,5.94
99,S22523700058,2014-11-21,2191,Keokuk Spirits,1013 MAIN,KEOKUK,52632,POINT (-91.387797 40.400038),56,Lee,...,75087,Juarez Gold Dss,12,1000,4.92,7.38,96,708.48,96.00,25.36